body {
  background-color: seagreen;
}
h1 {
  background-color: brown;
  text-align: center;
  width: 350px;
  margin: 10px auto;
  font-size: 40px;
  border: 1px solid black;
}
div {
  border: 10px solid red;
  height: 500px;
  background-color: black;
  width: 570px;
  margin: 1px auto;
}
.a {
  background-color: aqua;
  margin: 1px auto;
  height: 200px;
  width: 500px;
  border: 0px solid aqua;
  padding: 10px;
  font-size: 18px;
}
.b {
  margin: 1px auto;
  width: 500px;
  background-color: aqua;
  border: 0px solid aqua;
  height: 200px;
  padding: 10px;
  font-size: 18px;
}
